body {
    background-image: url('mushome.jpg');
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f5f5f5;
}

h1 {
    color: #333;
}

p {
    color: #555;
}

#guessInput {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#retryButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#retryButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#retryButton:hover:disabled {
    background-color: #cccccc;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}
.container {
    position: unset;
    opacity: 10;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #F94C10;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
